<footer class="border-t py-6">
  <div class="container text-sm flex flex-col md:flex-row items-center justify-between gap-4">
    <p>&copy; {{ currentYear }} Dwayne Froese | <em>The future is ours.</em></p>
    <div class="flex gap-4">
      <a href="https://github.com/thefroeseguy" target="_blank" rel="noopener" aria-label="GitHub">
        <!-- GitHub icon -->
        <fa-icon [icon]="faGithub" class="text-2xl hover:text-blue transition-colors duration-300"></fa-icon>
      </a>

      <a href="https://linkedin.com/in/dwaynefroese" target="_blank" rel="noopener" aria-label="LinkedIn">
        <!-- LinkedIn icon -->
        <fa-icon [icon]="faLinkedin" class="text-2xl hover:text-blue transition-colors duration-300"></fa-icon>
      </a>
    </div>
  </div>
</footer>
